body{
  background-color: rgb(197, 193, 191);
  text-align: center;
  width:100%
}
button {
  background-color: #5e5555(65, 245, 131);
  border-radius: 12px;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  display: inline-block;
  font-size: 36px;
}
h1{
  color: rgb(90, 90, 82);
}
h2{
  color: rgb(90, 90, 82);
}
div{
  width: 100%;
}
.center {
  margin: auto;
  width: 75%;
  border: 3px solid rgb(90, 90, 82);
  padding: 10px;
  border-radius: 10px;
}
p{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
  border-radius: 5px;
  background-color: rgba(46, 45, 45, 0);
  width: 100%;
  text-align: justify;
  padding: 3px 1px
}
.topnav {
  background-color: rgb(172, 26, 0);

  overflow: hidden;
  padding: 20px 20px;
}
.topnav a {
  display: center;
  color: #f8f8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid white;
}
.topnav a:hover {
  background-color: rgb(183, 185, 180);
}
img {
  border-radius: 15px;
}
iframe{
  border: 10px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 7px 7px;
}
.form{
color: white;

}
 